Flask
SQLAlchemy
Flask-SQLAlchemy
PyMySQL
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-WTF
itsdangerous
Jinja2
Werkzeug
WTForms
email-validator
gunicorn
twilio
Flask-SocketIO
Flask-APScheduler
flask-migrate
flask_testing
flask-cors
apt-get update
apt-get install libmariadbclient-dev
apt-get update
apt-get install libmysqlclient-dev
mysqlclient
