Flask
SQLAlchemy
Flask-SQLAlchemy
PyMySQL
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-WTF
itsdangerous
Jinja2
Werkzeug
WTForms
email-validator
gunicorn
twilio
Flask-SocketIO
Flask-APScheduler
flask-migrate
flask_testing
flask-cors
pip install mysqlclient
sudo apt-get update
sudo apt-get install libmariadbclient-dev
sudo apt-get update
sudo apt-get install libmysqlclient-dev
xhtml2pdf
celery
redis
mysql-connector-python