/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: auto;
}

/* Header styles */
.hero {
    background: url('hero.jpg') center/cover no-repeat;
    background-image: url('/static/images/hero_1.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Features section styles */
.features {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.feature {
    margin-bottom: 30px;
}

.feature img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.feature h2 {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.feature p {
    font-size: 1.1em;
    color: #666;
}

.image {
    text-align: center; /* Centers the content (including images) within each .feature div */
    max-width: 50%; /* Ensures the image doesn't exceed its container */
    height: 50%; /* Maintains the image's aspect ratio */
    display: inline-block; /* Ensures the image behaves like an inline-block element */
    margin: 0 auto; /* Centers the image horizontally within its container */
}

/* About section styles */
.about {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.about-content {
    max-width: 800px;
    margin: auto;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.about p {
    font-size: 1.1em;
    color: #666;
    line-height: 1.8;
    margin-bottom: 1em;
}

.team-members h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.team-members ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1em;
}

.team-members ul li {
    margin-bottom: 0.5em;
}

.team-members ul li a {
    color: #007bff;
    text-decoration: none;
}

.team-members ul li a:hover {
    text-decoration: underline;
}

.github-repo a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.github-repo a:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
