{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
{% endblock head %}

{% block content %}
    <div class="container">
        <h2>New Post</h2>
        <form  action="{{ url_for('post.new_post') }}" autocomplete="off" method="POST">
            {{ form.hidden_tag() }}
            <!--  -->
            <label for="title">Title:</label>
            {{ form.title(size=32, autocomplete="off") }}
            <label for="content">Content:</label>
            {{ form.content(size=32, autocomplete="off") }}
            <br>
            {{ form.submit() }}
        </form>
    </div>
{% endblock content %}
