{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css')}}">
{% endblock head %}
{% block content %}
    <div>
        <h1>
            You are welcome to Royalty Travel. Your journey begins here.
            <br>
            Book now and explore the world with us.
        </h1>
    </div>
    <div class="content">
        {% for post in posts %}
            <div class="post">
                <h2>{{ posts.author }}</h2>
                <p>Title: {{ posts.title }}</p>
                <p>Content: {{ posts.content }}</p>
            </div>
        {% endfor %}
    </div>
    <div class=".modal-content">
        <h1>Passengers</h1>
        <ul>
            {% for passenger in passengers %}
                <li>{{ passenger.username }} ({{ passenger.email }})</li>
            {% endfor %}
        </ul>

        <button onclick="showAddPassengerForm()">Add Passenger</button>

        <div id="addPassengerModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeAddPassengerForm()">&times;</span>
                <form method="POST" action="{{ url_for('passengers.handle_passengers') }}">
                    {{ form.hidden_tag() }}
                    <label for="username">Username:</label>
                    {{ form.username(class="form-control", id="username", autocomplete="off") }}<br>
                    <label for="email">Email:</label>
                    {{ form.email(class="form-control", id="email", autocomplete="off") }}<br>
                    <label for="phone">Phone:</label>
                    {{ form.phone(class="form-control", id="phone", autocomplete="off") }}<br>
                    <button type="submit">Add Passenger</button>
                </form>
            </div>
        </div>
    </div>
    {% if current_user.is_authenticated and current_user.is_admin %}
    <h1>Fetch Users</h1>
    <button id="fetchUsersBtn" onclick="fetchUsers()">Fetch Users</button>
    <ul id="userList"></ul>
    {% endif %}
    <script src="{{ url_for('static', filename='js/add_passenger.js') }}"></script>
    <script src="{{ url_for('static', filename='js/showAddPassengerForm.js') }}"></script>
    <script src="{{ url_for('static', filename='js/users.js') }}"></script>
    <script>
        <!--var isAdmin = {{ 'true' if current_user.is_admin else 'false' }};-->
        var isAdmin = {{ is_admin }};
    </script>
{% endblock content %}
