{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
{% endblock head %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form  action="{{ url_for('authorize.login') }}" autocomplete="off" method="POST">
            {{ form.hidden_tag() }}
            <!--  -->
            <label for="email">Email:</label>
            {{ form.email(size=32, autocomplete="off") }}
            <label for="password">Password:</label>
            {{ form.password(size=32, autocomplete="off") }}
            <label>
                {{ form.remember() }} Remember Me
            </label>
            {{ form.submit() }}
        </form>
        <small class="text-muted ml-2">
            <a href="{{ url_for('authorize.reset_request')}}">Forgot password</a>
        </small>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an account? <a class="ml-2" href="{{ url_for('authorize.register') }}">Sign Up Now</a>
        </small>
    </div>
{% endblock content %}
