<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royalty Travel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css')}}">
</head>
<body>
    <div class="header">
        <div class="logo">Royalty Travel</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('booking') }}">Bookings</a></li>
                <li><a href="{{ url_for('bus_status') }}">Bus Status</a></li>
                <li><a href="{{ url_for('notification') }}">Notifications</a></li>
                <li><a href="{{ url_for('receipt') }}">Receipts</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="contnet-section">
        <form method="POST", action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>   
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username.(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email.(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password.(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {{ form.confirm_password.(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small>
            Already Have An Account? <a class="ml-2" href="{{ url_for('loginform') }}">Sign In</a>
        </small>
    </div>
    {% for post in posts %}
        <h1>{{ post.name }}</h1>
        <p>This Mr.{{ post.name }} and his email is {{ post.email }}</p>
    {% endfor %}
    <footer>
        <p>&copy; 2024 Royalty Travel</p>
    </footer>
</body>
</html>
