<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Royalty Travel</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/general.css')}}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/Royalty-Travel.png')}}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_links.css')}}"/>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1 class="logo">Royalty Rravel</h1>
      </div>
      <nav>
        <ul>
          <li><a href="{{ url_for('home')}}">Home</a></li>
          <li><a href="{{ url_for('booking') }}">Bookings</a></li>
          <li><a href="{{ url_for('passenger.handle_passengers')}}">Passenger</a></li>
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            <li><a href="{{ url_for('user.dashboard') }}">Dashboard</a><li>
            <li><a href="{{url_for('posts.view_posts')}}">Manage Posts</a></li>
          {% else %}
            <li><a href="{{ url_for('auth.register') }}">Sign up</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
      <div>
        <!-- Flash messages display section -->
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <div>
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ messages }}</div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}
      </div>
    </div>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>&copy; 2024 Royalty Travel</p>
    </footer>
  </body>
</html>
