<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royalty Travel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Royalty-Travel.png')}}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="header">
        <h1>
            Royalty Rravel
        </h1>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Royalty Travel</p>
    </footer>
</body>
</html>