{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block content %}
<div>
    <h2>Join Today</h2>
    <form method="POST" action="{{ url_for('auth.register')}}" autocomplete="off">
        {{ form.hidden_tag() }}
        <label for="username">Username:</label>
        {{ form.username(size=32, autocomplete="off") }}
        <label for="email">Email:</label>
        {{ form.email(size=32, autocomplete="off") }}
        <label for="phone">Phone:</label>
        {{ form.phone(size=32, autocomplete="off") }}
        <label for="password">Password:</label>
        {{ form.password(size=32, autocomplete="off") }}
        <label for="confirm_password">Confirm Password:</label>
        {{ form.confirm_password(size=32, autocomplete="off") }}
        <label for="is_admin">Is_Admin:</label>
        {{ form.is_admin(size=32, autocomplete="off") }}
        {{ form.submit() }}
    </form>
</div>
<div class="border-top pt-3">
    <small>
        Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
    </small>
</div>
{% endblock content %}