{% extends 'base.html' %}

{% block head %}
    <title>View Buses - Royalty Travel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_buses.css')}}">
{% endblock head %}

{% block content %}
    <div class="container">
        <h1>All Buses</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Number Plate</th>
                    <th>Capacity</th>
                    <th>Model</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for bus in buses %}
                    <tr>
                        <td>{{ bus.id }}</td>
                        <td>{{ bus.number_plate }}</td>
                        <td>{{ bus.capacity }}</td>
                        <td>{{ bus.model }}</td>
                        <td>{{ bus.location }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
